* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    header{
        width: 100%;
        height: 44px;
        display: flex;
        justify-content: space-around;
        background: red;
        align-items: center;
    }
    video{
        width: 100%;
        height: 200px;
    }
    &>ul{
        width: 100%;
        height: 50px;
        display: flex;
        li{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 1px solid #ccc;
            background-color: #eee;
        }
    }
    .tabbox{
        display: flex;
        width: 100%;
        height: 74px;
        ul{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            li{
                height: 74px;
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    &>ol{
        width: 100%;
        height: 50px;
        display: flex;
        flex-wrap: wrap;
        li{
            width: 30%;
            margin:5px;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 1px solid #ccc;
            background-color: #ccc;
        }
    }
    .detail{
        width: 100%;
        background: #ccc;
        p{
            height: 30px;
            line-height: 30px;
        }
    }
}

.active{
    color:red;
    border-bottom: 2px solid red;
}
